.carousel-caption {
    margin-bottom: 8rem;
}
.back-1 {
    height: 500px;
    max-height: 400px;
    object-fit: cover;
}
.img {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.carousel-item img {
    opacity: 40%;
}